.container {
  width: 100%;
}


/* HEADER/TITLE */

.title-bar {
  /* Header Image 1300px by 523px */
  background-image: url("../assets/header.jpg");
  background-repeat: no-repeat;
  height: 523px;
  text-transform: uppercase;
  overflow: auto;
  padding-top: 15px;
}

.title-left {
  float: left;
  margin-left: 140px;
  margin-top: -5px;
}

.title-left > img {
  vertical-align: middle;
  margin-right: 6px;
}

.title-left > span {
  letter-spacing: -0.5px;
}

.title-right {
  float: right;
  margin-right: 145px;
  margin-top: 3px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.6px;
}

.title-right > span {
  padding-right: 5px;
  font-size: 18px;
}

.title {
  clear: both;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  margin-top: 188px;
  line-height: 111px;
}

.subtitle {
  text-transform: none;
  text-align: center;
}

/* ARTICLE */

.main {
  font-family: 'Open Sans', sans-serif;
  margin: 50px 45px 0px 168px;
  overflow: auto;
}

.article {
  display: inline-block;
  padding-right: 50px;
  max-width: 60%;
  float: left;
}

.article-headline {
  font-family: 'Oswald' sans-serif;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: -1px;
}

.byline {
  margin-top: 5px;
  color: rgb(158, 174, 187);
}

.byline  a {
  text-decoration: none;
  font-size: 14px;
}

.byline .date {
  text-decoration: underline;
  color: rgb(158, 174, 187);
}

.byline img {
  width: 25px;
  vertical-align: middle;
  padding-right: 5px;
}

.quote {
  border-left: 2px solid lightgray;
  display: block;
  font-size: 30px;
  color: rgb(2, 100, 174);
  padding-left: 15px;
  line-height: 55px;
}


/* SIDEBAR */
.side-bar {
  max-width: 26%;
  display: inline-block;
  margin-top: 20px;
}

.author img {
  display: block;
  margin: 0 auto;
}

.author > span {
  display: block;
  text-align: center;
}

