.container {
  width: 100%;
  margin: 5px auto;
}


/* HEADER/TITLE */

.titlebar {
  /* Header Image 1300px by 523px */
  background-image: url("../assets/header.jpg");
  background-repeat: no-repeat;
  height: 523px;
  text-transform: uppercase;
  overflow: auto;
  padding-top: 10px;
}

.titleleft {
  float: left;
  margin-left: 140px;
  margin-top: -5px;
}

.titleleft > img {
  vertical-align: middle;
  margin-right: 6px;
}

.titleleft > span {
  letter-spacing: -0.5px;
}

.titleright {
  float: right;
  margin-right: 162px;
  margin-top: 3px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.6px;
}

.search {

}

.title {
  clear: both;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}

.subtitle {
  text-transform: none;
  text-align: center;
}