@import 'normalize';

// FONTS
$title-font: Oswald, sans-serif;
$body-font: Open Sans, sans-serif;

// COLORS
$headline-color: rgb(8, 52, 82);
$text-color: rgb(84, 95, 103); // gray
$link-color: rgb(158, 174, 187); // gray
$link-color-hover: rgb(2, 100, 174); // blue
$button-text-background-color: rgb(163, 179, 191);
$button-img-background-color: rgb(94, 104, 111);
$button-text-background-color-hover: rgb(16, 109, 179);
$button-img-background-color-hover: rgb(8, 52, 82);


@mixin upcase() {
  text-transform: uppercase;
}

.container {
  width: 100%;
}

// HEADER

.title-bar {
  background-image: url("../assets/header.jpg");
  background-repeat: no-repeat;
  height: 523px;
  overflow: auto;
  padding-top: 15px;
  @include upcase();
}

.title-left {
  float: left;
  margin-left: 140px;
  margin-top: -5px;

  > img {
    vertical-align: middle;
margin-right: 6px;
  }

  > span {
    letter-spacing: -0.5px;
  }
}

.title-right {
  float: right;
  margin-right: 145px;
  margin-top: 3px;
  font: $title-font;
  letter-spacing: 0.6px;

  > span {
    padding-right: 5px;
    font-size: 18px;
  }
}

.title {
  @include upcase();
  clear: both;
  color: white;
  text-align: center;
  font: $body-font;
  font-size: 100px;
  margin-top: 188px;
  line-height: 111px;
  text-shadow: 1px 1px black;
}

.subtitle {
  text-transform: none;
  text-align: center;
}

// ARTICLE

.main {
  font-family: $body-font;
  margin: 50px 45px 0px 160px;
  overflow: auto;
}

.article {
  display: inline-block;
  padding-right: 50px;
  max-width: 60%;
  float: left;
  line-height: 22px;
  color: $text-color;

  a {
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }
  }

}

.article-headline {
  font-family: $title-font;
  font-size: 64px;
  @include upcase();
  line-height: 70px;
  letter-spacing: -1px;
  color: $headline-color;
}

.byline {
  margin-top: 5px;
  margin-bottom: 35px;
  color: $link-color;
  font-size: 14px;
 
  a:first-of-type {
    color: $link-color-hover;
    text-decoration: none;
  }

  img {
    width: 25px;
    vertical-align: middle;
    padding-right: 5px;
  }

}

.quote {
  border-left: 2px solid lightgray;
  display: block;
  font-size: 30px;
  color: $link-color-hover;
  padding-left: 15px;
  margin-left: 5px;
  margin-bottom: 30px;
  line-height: 55px;
  @include upcase();
}

.article-interaction {
  display: inline-block;
}

.button {
  font-size: 14px;
  background: $button-text-background-color;
  display: inline-block;
  margin-left: 5px;
  padding-right: 12px;
  text-decoration: none;

  img {
    background-color: $button-img-background-color;
    padding: 8px;
    height: 15px;
    vertical-align: middle;
  }

  span {
    padding-right: 5px;
    letter-spacing: -.05px;
    color: white;
  }

  &:hover {
    background-color: $button-text-background-color-hover;

    img {
      background-color: $button-img-background-color-hover;
    }
  }
}

// SIDEBAR
.side-bar {
  max-width: 26%;
  display: inline-block;
  margin-top: 20px;
}

.author {
  margin-bottom: 50px;

  img {
    display: block;
    margin: 0 auto 10px;
  }

  > span {
    display: block;
    text-align: center;
    color: $link-color-hover; 
  }

  a {
    text-decoration: none;
    font-size: 12px;
    color: $link-color; 
  }
}

.social-media {
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;

  li {
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    border-right: 1px solid rgba(211, 211, 211, 0.5);
  
    &:last-child {
      border-right: 0;
    }
  }
}

.ad {
  overflow: auto;
  margin-bottom: 42px;

  > a {
    text-align: left;
    float: right;
    color: $link-color;
    font-size: 14px;
  }
}

.sidebar-heading {
  color: $link-color-hover; 
  font-family: $title-font; 
  @include upcase();
  margin-bottom: 8px;
}

.sidebar-text {
  color: $link-color;
  font-size: 14px;
  line-height: 22px;

  a {
    color: $link-color;
  }
}

// FOOTER

hr {
  border-top: 1px solid rgb(228, 233, 236);
  margin-top: 70px;
  margin-bottom: 20px;
}

.footer-header {
  font-family: $title-font;
  font-size: 64px;
  @include upcase();
  text-align: center;
  margin-bottom: 30px;
  color: $button-img-background-color-hover; 
}

.post-links {
  width: 100%;
  font-size: 0;
  background-color: $button-text-background-color-hover;

  > div {
    position: relative;
    display: inline;
  }

  img {
   margin: 0;
   padding: 0;
   opacity: .35;
   width: 25%;
  }

  span {
    color: black;
    @include upcase();
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 12px;
    font-family: $title-font;
    padding-right: 10px;
  }
}


.post-link {
  &:hover img {
    opacity: 1;
  }

  &:hover span {
    color: white;
  }
}
