.container {
  width: 100%;
}


/* HEADER/TITLE */

.title-bar {
  /* Header Image 1300px by 523px */
  background-image: url("../assets/header.jpg");
  background-repeat: no-repeat;
  height: 523px;
  text-transform: uppercase;
  overflow: auto;
  padding-top: 15px;
}

.title-left {
  float: left;
  margin-left: 140px;
  margin-top: -5px;
}

.title-left > img {
  vertical-align: middle;
  margin-right: 6px;
}

.title-left > span {
  letter-spacing: -0.5px;
}

.title-right {
  float: right;
  margin-right: 145px;
  margin-top: 3px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.6px;
}

.title-right > span {
  padding-right: 5px;
  font-size: 18px;
}

.title {
  clear: both;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}

.subtitle {
  text-transform: none;
  text-align: center;
}
